<!-- Start Modal -->
<div class="modal fade reservation-modal" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reservationModalLabel">
          <img  src="../../../assets/imgs/iconSidebar/BuildingsIcon.png" alt="" width="20" class="me-2">
          إضافة عقار جديد

        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">اسم العقار</label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">العنوان </label>
                  <div class="position-relative">
                    <input type="text" class="form-control form-control-lg" placeholder="منطقة الجوف / سكاكا / الروابي">
                    <div class="icon-end"><i class="fa-regular fa-map"></i></div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6"><div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">نوع العقار</label>
                <select class="form-select form-select-lg" aria-label="Default select example">
                  <option selected>حدد نوع العقار  </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div></div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> عدد الضيوف</label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> اسم المالك
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> رقم الجوال
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">  البريد الإلكتروني
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="email" class="form-control form-control-lg" >
                </div>
              </div>

            </div>
          </div>





        </form>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-check me-2"></i>
          حفظ
        </button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
