<section class="real-estate-page">
  <header class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="content">
            <h1>لوحة المعلومات</h1>
            <p>مرحبا يمكنك من هنا متابعة
              <a href="">عقاراتك</a>
              و البدء فى ادارة العقار بسهول</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image">

            <img src="../../../assets/imgs/logoWhite.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="header-title mb-4">
    <div class="d-flex justify-content-between">
      <h4>  عقاراتي</h4>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationModal">
        <img src="../../../assets/imgs/iconSidebar/BuildingsIcon.png" alt="" class="me-2" width="20">
                إضافة عقار جديد
      </button>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" >
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-real-details></app-real-details>

<app-add-new-property></app-add-new-property>
